body {
  background-color: pink;
  transition: 0.5s ease-in-out;
}

.swith {
  width: 200px;
  height: 200px;
  margin: 50px auto;
}

.swith-label {
  width: 200px;
  height: 100px;
  background-color: rgb(111, 90, 180);
  border-radius: 50px;
  border: solid 2px palevioletred;
  padding: 2px;
  display: inline-block;
}

.swith-label::after {
  display: block;
  content: "";
  height: 100%;
  width: 50%;
  position: relative;
  border-radius: 50px;
  background-color: rgb(109, 152, 215);
  left: 0%;
  transition: 0.5s ease-in-out;
}

.swith-input {
  display: none;
}

.swith-input:checked+.swith-label::after {
  left: 50%;
}

.change {
  background-color: violet;
  transition: 0.5s ease-in-out;
}