.container {
  margin: 200px auto;
  height: 300px;
  width: 400px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
  gap: 3px;
}
.container input[type="radio"] {
  display: none;
}

.container label:hover {
  cursor: pointer;
  color: #55efc4;
}
label {
  text-align: center;
  line-height: 100px;
}
#label1 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: #b2bec3;
}

#label2 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: #74b9ff;
}

#label3 {
  grid-row: 3/4;
  grid-column: 2/3;
  background-color: #6c5ce7;
}

#tab1:checked ~ .items {
  transform: translateY(0);
}
#tab2:checked ~ .items {
  transform: translateY(-300px);
}
#tab3:checked ~ .items {
  transform: translateY(-600px);
}

.items {
  grid-row: 1/4;
  grid-column: 1/2;
  background-color: pink;
  transition: 0.5s;
}
.items div {
  height: 300px;
  width: 300px;
  text-align: center;
  line-height: 300px;
  font-size: 3em;
}
.items div:first-child {
  background-color: #55efc4;
}
.items div:nth-child(2) {
  background-color: #ffeaa7;
}
.items div:nth-child(3) {
  background-color: #fdcb6e;
}
